* {
    z-index: 0;
}

html, body {
    background-color: $dark-blue;
}

.light-hyphen {
    font-weight: 100;
}

.body-gradient {
    background-image: url("../images/bg-gradient.svg");
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}

.subpage-fronta {
    min-height: 600px;
    background: linear-gradient(200deg, #0f2666 0%, #091440 62%, #091440 100%);
    background-image: url('../images/landing-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.subpage-bg {
    padding-bottom: 123px;
}

.subpage-title {
    color: $white;
    font-family: "dcrweb-poppins";
    font-size: 34px;
    padding-top: 89px;
    padding-bottom: 42px;
}

.warning {
    color: $white;
    margin-top: 41px;
    border: 1px solid $orange;
    border-radius: 8px;
    font-size: 13px;
    line-height: 18px;
    padding: 21px;
    
    @include media-breakpoint-down(md) {
        padding: 13px;
    }

    a {
        color: $white;
    }

    p {
        margin: 0;
    }

    .orange {
        color: $orange;
    }
}

.pills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    
    a {
        text-decoration: none;
        color: white;
        
        .pill {
            padding: 15px 24px;
            margin-right: 13px;
            margin-bottom: 13px;
            border-radius: 10000px;
            white-space: nowrap;
            transition: border 0.21s ease-in-out;
            
            border: 2px solid rgba($white, 0.21);
            font-size:18px;
            
            @include media-breakpoint-down(md) {
                font-size: 15px;
                padding: 11px 19px;
                margin-right: 8px;
                margin-bottom: 8px;
            }
            
            &:hover {
                border: 2px solid rgba($white, 0.55);
            }

            &.highlight {
                border: 2px solid rgba($light-blue, 0.7);

                &:hover {
                    border: 2px solid rgba($light-blue, 1.0);
                }
            }

            &.super-highlight {
                border: 2px solid rgba($turquoise, 0.7);

                &:hover {
                    border: 2px solid rgba($turquoise, 1.0);
                }
            }

        }
    }
}