* {
    z-index: 0;
}

body {
    background-image: url("../images/body-bg.svg");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.navbar-margin {
    margin-top: $navbar-height
}

.max-w {
    width: 100%;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}

a {
    outline: 0;
}

.light-hyphen {
    font-weight: 100;
}

.body-gradient {
    background-image: url("../images/bg-gradient.svg");
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}

$subpage-header-height: 352px;

.subpage-fronta {
    position: relative;
    height: $subpage-header-height;
    width: 100%;

    * {
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    }

    .gradient1 {
        background: linear-gradient(200deg, #0f2666 0%, #091440 62%, #091440 100%);
    }
    
    .gradient2 {
        margin-top: -$subpage-header-height;
        background: linear-gradient(225deg, #122E7600 0%, #112B7000 4%, #0D215B27 21%, #0B194CB2 39%, #091542F1 57%, #091440 79%, #091440 100%);
    }

    .exchange-header {
        margin-top: -$subpage-header-height;

        background-image: url('../images/subpage-backgrounds/xl/exchanges.svg');
        background-position: right -98px;
        
        @include media-breakpoint-down(xl) {
            background-image: url('../images/subpage-backgrounds/lg/exchanges.svg');
            background-position: right -98px;
        }
        @include media-breakpoint-down(lg) {
            background-image: url('../images/subpage-backgrounds/md/exchanges.svg');
            background-position: right -68px;
        }
        @include media-breakpoint-down(md) {
            background-image: url('../images/subpage-backgrounds/md/exchanges.svg');
            background-position: right -68px;
        }
    }

    .wallet-header {
        margin-top: -352px;

        background-image: url('../images/subpage-backgrounds/xl/wallets.svg');
        background-size: cover;
        
        @include media-breakpoint-down(xl) {
            background-image: url('../images/subpage-backgrounds/lg/wallets.svg');
        }
        @include media-breakpoint-down(lg) {
            background-image: url('../images/subpage-backgrounds/md/wallets.svg');
        }
        @include media-breakpoint-down(md) {
            background-image: url('../images/subpage-backgrounds/md/wallets.svg');
        }
    }

    .community-header {
        margin-top: -352px;

        background-image: url('../images/subpage-backgrounds/xl/community.svg');
        size: cover;
        background-position: right top;
        
        @include media-breakpoint-down(xl) {
            background-image: url('../images/subpage-backgrounds/lg/community.svg');
        }
        @include media-breakpoint-down(lg) {
            background-image: url('../images/subpage-backgrounds/md/community.svg');
        }
        @include media-breakpoint-down(md) {
            background-image: url('../images/subpage-backgrounds/md/community.svg');
        }
    }

}

.subpage-padding {
    padding-bottom: 123px;
    flex: 1;
}

.subpage-title {
    color: $white;
    font-family: "dcrweb-poppins", "Verdana", sans-serif;;
    font-size: 34px;
    padding-top: 89px;
    padding-bottom: 42px;
    @include media-breakpoint-down(md) {
        padding-top: 55px;
    }
}

.subpage-paragraph {
    padding-bottom: 36px;
    color: $white;
    opacity: 0.75;
    line-height: 22px;
    text-decoration: none;
}

.orange {
    color: $orange;
}

.warning {
    color: $white;
    margin-top: 41px;
    border: 1px solid $orange;
    border-radius: 8px;
    font-size: 13px;
    line-height: 18px;
    padding: 21px;
    
    @include media-breakpoint-down(md) {
        padding: 13px;
    }

    a {
        color: $white;
    }

    p {
        margin: 0;
    }
}

.pills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    
    a {
        text-decoration: none;
        color: white;
        
        .pill {
            padding: 15px 24px 14px;
            margin-right: 13px;
            margin-bottom: 13px;
            border-radius: 10000px;
            white-space: nowrap;
            transition: border 0.21s ease-in-out;
            
            border: 2px solid rgba($white, 0.21);
            font-size:18px;
            
            @include media-breakpoint-down(md) {
                font-size: 15px;
                padding: 11px 19px;
                margin-right: 8px;
                margin-bottom: 8px;
            }
            
            &:hover,
            &:focus {
                border: 2px solid rgba($white, 0.55);
            }

            &.highlight {
                border: 2px solid rgba($light-blue, 0.7);

                &:hover,
                &:focus {
                    border: 2px solid rgba($light-blue, 1.0);
                }
            }

            &.super-highlight {
                border: 2px solid rgba($turquoise, 0.7);

                &:hover,
                &:focus {
                    border: 2px solid rgba($turquoise, 1.0);
                }
            }

        }
    }
}