.landing-fronta {
    height: 100vh;

    background: linear-gradient(200deg, #0f2666 0%, #091440 62%, #091440 100%);
    background-image: url('../images/landing-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    justify-content: flex-start;
    align-items: stretch;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .fronta-center {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .title {
            display: flex;
            flex-direction: column;
            margin-right: 51px;
            margin-bottom: 32px;

            font-family: "dcrweb-poppins";
            font-size: 65px;
            line-height: 71px;
            font-weight: bold;
            letter-spacing: 1.36px;
            color: white;

            @include media-breakpoint-down(xl) {
                line-height: 65px;
                margin-right: 0;
            }

            @include media-breakpoint-down(md) {
                font-size: 55px;
                line-height: 55px;
                letter-spacing: 0.71px;
            }

            .dcr {
                text-transform: uppercase;
            }
        }

        .fronta-buttons {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: center;

            .btn {
                padding: 10px 21px;
                margin: 0 0 21px 0;
                border-radius: 100px;
                font-size: 18px;
                line-height: 31px;
                font-weight: bold;
                text-decoration: none;
                transition: background-color 0.13s ease-in-out;
                white-space: nowrap;

                &.exchange-btn {
                    color: $dark-blue;
                    background-color: $turquoise;

                    &:hover {
                        background-color: rgba($turquoise, 0.89);
                    }
                }

                &.wallet-btn {
                    color: $white;
                    background-color: $light-blue;
                    margin-right: 12px;
                    
                    &:hover {
                        background-color: rgba($light-blue, 0.89);
                    }

                    &#alldl {
                        display: block;
                    }

                    &.os-specific {
                        display: none;
                    }
                }
            }
        }
    }

    .fronta-bottom {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-bottom: 26px;

        .socials {
            display: flex;
            flex-direction: row;

            .social {
                margin: 8px;
                height: 30px;
                width: 30px;
                background-size: 30px 30px;
                background-repeat: no-repeat;
                opacity: 0.34;
                transition: opacity 0.13s ease-in-out;

                &:hover {
                    opacity: 0.55;
                }

                &.discord {
                    background-image: url('../images/social-icons/discord.svg');
                }

                &.telegram {
                    background-image: url('../images/social-icons/telegram.svg');
                }

                &.matrix {
                    background-image: url('../images/social-icons/matrix.svg');
                }
            }
        }

        .see-more a {
            color: $white;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            opacity: 0.60;
            transition: opacity 0.08s ease-in-out;

            .down-arrow {
                margin-top: 8px;
                height: 16px;
                width: 32px;
                background-image: url("../images/white-down-arrow.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }

            &:hover {
                opacity: 0.89;
            }
        }
    }
}

.landing-content {
    color: $white;
    padding-top: 144px;
    padding-bottom: 144px;

    @include media-breakpoint-down(lg) {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .landing-box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 34px;

        border-width: 1px;
        border-style: solid;
        border-radius: 8px;

        @include media-breakpoint-up(lg) {
            min-height: 377px;
        }

        @include media-breakpoint-up(xl) {
            min-height: 430px;
        }

        .landing-img {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            width: 100%;
            min-height: 180px;
            margin-top: 15px;
            margin-bottom: 15px;
            z-index: -1;

            @include media-breakpoint-up(md) {
                min-height: 280px;
            }
            @include media-breakpoint-up(lg) {
                min-height: 238px;
            }
            @include media-breakpoint-up(xl) {
                min-height: 300px;
            }
        }
        
        &.treasury {
            .landing-img {
                background-image: url("../images/landing/treasury-sm.png");

                @include media-breakpoint-up(md) {
                    background-image: url("../images/landing/treasury-md.png");
                }
                @include media-breakpoint-up(lg) {
                    position: absolute;
                    margin: 0;
                    width: auto;
                    background-image: url("../images/landing/treasury-lg.png");

                    top: 40px;
                    bottom: 52px;
                    left: 32px;
                    right: 32px;
                }
                @include media-breakpoint-up(xl) {
                    top: 67px;
                    bottom: 52px;
                    left: 32px;
                    right: 32px;
                }
            }
        }

        &.sovereignty {
            .landing-img {
                background-image: url("../images/landing/sovereignty-sm.png");
                @include media-breakpoint-up(md) {
                    background-image: url("../images/landing/sovereignty-md.png");
                }
            }
        }

        &.privacy {
            .landing-img {
                background-image: url("../images/landing/privacy-sm.png");
                @include media-breakpoint-up(md) {
                    background-image: url("../images/landing/privacy-md.png");
                }
            }
        }

        &.resolve {
            .landing-img {
                background-image: url("../images/landing/resolve-sm.png");
                @include media-breakpoint-up(md) {
                    background-image: url("../images/landing/resolve-md.png");
                }
            }
        }

        &.freedom {
            .landing-img {
                background-image: url("../images/landing/freedom-sm.png");
                @include media-breakpoint-up(md) {
                    background-image: url("../images/landing/freedom-md.png");
                }
                @include media-breakpoint-up(lg) {
                    background-image: url("../images/landing/freedom-lg.png");
                }
            }
        }

        @include media-breakpoint-down(md) {
            padding: 21px;
        }

        &.green {
            border-color: $turquoise;

            .headline {
                color: $turquoise;
            }
        }

        &.blue {
            border-color: $light-blue;

            .headline {
                color: $light-blue;
            }
        }

        &.yellow {
            border-color: #FFC84E;

            .headline {
                color: #FFC84E;
            }
        }

        &.top-pad {
            margin-top: 410px;
            @include media-breakpoint-down(lg) {
                margin-top: 0;
            }
        }

        .headline {
            font-size: 34px;
            line-height: 34px;
            margin-bottom: 13px;
            font-weight: bold;
            @include media-breakpoint-down(md) {
                font-size: 28px;
                line-height: 33px;
            }
        }

        .text {
            font-size: 30px;
            line-height: 31px;
            margin-bottom: 0;
            
            @include media-breakpoint-down(md) {
                font-size: 24px;
                line-height: 28px;
            }
        }

        .links {
            a {
                display: block;
                font-size: 18px;
                line-height: 21px;
                color: $white;
                text-decoration: none;
                margin-bottom: 5px;

                @include media-breakpoint-down(md) {
                    font-size: 13px;
                    line-height: 16px;
                }

                .link-text {
                    text-decoration: underline;
                }

                .link-arrow {
                    opacity: 0.34;
                    font-size: 22px;
                    transition: opacity 0.08s ease-in-out;
                }

                &:hover {
                    .link-arrow {
                        opacity: 0.55;
                    }
                }

            }
        }
    }
}
