.wallet-cards {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &.highlight {
        margin-bottom: 16px;
    }

    .wallet-card {
        display: flex;
        flex-direction: column;
        width: 239px;
        min-height: 187px;
        margin-right: 16px;
        margin-bottom: 16px;
        padding: 21px;
        border: 1px solid rgba($white, 0.21);
        border-radius: 8px;

        background-color: transparent;
        color: $white;

        @include media-breakpoint-down(sm) {
            width: 100%;
        }


        &.highlight {
            border: 1px solid $light-blue;
        }

        .wallet-card-title {
            font-size: 18px;
            color: $white;
            margin-bottom: 5px;
            font-weight: bold;
        }
    
        .wallet-card-description {
            font-size: 13px;
            color: $white;
            opacity: 0.45;
            margin-bottom: 16px;
        }
    
        .wallet-card-links {
            margin-top: auto;
            font-size: 11px;

            .wallet-link {
                color: $white;
                margin-right: 5px;
                opacity: 0.89;
            }
        }
    
    }

}