.landing-content {
    padding-bottom: 60px;
    background-color: transparent;
    
    .wrapper {
        margin-bottom: 20px;
        padding: 20px 20px;
        width: 100%;
        height: 363px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #091440;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        transition: 0.34s;
    }

    .headline {
        font-size: 24px;
        line-height: 31px;
    }

    .text {
        width: 100%;
        font-size: 13px;
        line-height: 19px;
    }

    .links a {
        display: block;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        text-decoration: none;

        &:hover {
            color: #4dbeff;
        }
    }

    @media screen and (min-width: 321px) {
        .wrapper {
            padding: 30px 20px;
            height: 363px;
        }

        .text {
            font-size: 16px;
            line-height: 22px;
        }

        .links a {
            font-size: 16px;
            line-height: 23px;
        }
    }

    @media screen and (min-width: 480px) {
        .wrapper {
            padding: 50px 40px;
            height: 450px;
        }

        .headline {
            font-size: 28px;
            line-height: 36px;
        }

        .text {
            width: 75%
        }


        .links a {
            font-size: 18px;
        }
    }

    @media screen and (min-width: 769px) {
        .wrapper {
            height: 450px;
        }
        
        .headline {
            font-size: 34px;
            line-height: 42px;
        }

        .text {
            width: 50%
        }


        .links a {
            font-size: 18px;
        }
    }

}