$light-blue: rgb( 41, 112, 255); // #2970FF
$turquoise:  rgb( 45, 216, 163); // #2DD8A3
$white:      rgb(255, 255, 255); // #FFFFFF
$dark-blue:  #091440;
$orange:     #ED6D47;

.navbar {
    padding: 0;
    background-color: $dark-blue;

    .dcr-logo {
        padding: 0;
        margin: 0;
        display: block;
        height: 60px;
        width: 60px;
        background-image: url('../images/iconDecredWhite.svg');
        background-size: 60px;
        background-repeat: no-repeat;
    }
}




.light-hyphen {
    font-weight: 100;
}


.landing-fronta {
    height: 100vh;

    background: linear-gradient(200deg, #0f2666 0%, #091440 62%, #091440 100%);
    background-image: url('../images/landing-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    justify-content: flex-start;
    align-items: stretch;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .fronta-center {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .title {
            display: flex;
            flex-direction: column;
            margin-right: 45px;

            font-family: "dcrweb-poppins";
            font-size: 65px;
            font-weight: bold;
            color: white;

            .dcr {
                text-transform: uppercase;
            }
        }

        .fronta-buttons {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .btn {
                padding: 10px 21px;
                margin: 0 0 15px 0;
                border-radius: 100px;
                font-size: 18px;
                font-weight: bold;
                text-decoration: none;
                transition: background-color 0.13s ease-in-out;
                white-space: nowrap;

                &.exchange-btn {
                    color: $dark-blue;
                    background-color: $turquoise;

                    &:hover {
                        background-color: rgba($turquoise, 0.89);
                    }
                }

                &.wallet-btn {
                    color: $white;
                    background-color: $light-blue;

                    &:hover {
                        background-color: rgba($light-blue, 0.89);
                    }

                    &#alldl {
                        display: block;
                    }

                    &.os-specific {
                        display: none;
                    }
                }
            }
        }
    }





    .fronta-bottom {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-bottom: 26px;

        .socials {
            display: flex;
            flex-direction: row;

            .social {
                margin: 8px;
                height: 40px;
                width: 40px;
                background-size: 40px 40px;
                background-repeat: no-repeat;
                opacity: 0.33;
                transition: opacity 0.13s ease-in-out;

                &:hover {
                    opacity: 0.55;
                }
                
                &.discord {
                    background-image: url('../images/iconDiscord.svg');
                }
        
                &.telegram {
                    background-image: url('../images/iconTelegram.svg');
                }
        
                &.matrix {
                    background-image: url('../images/iconMatrix.svg');
                }
            }
        }

        .see-more a {
            color: $white;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            opacity: 0.60;
            transition: opacity 0.08s ease-in-out;

            .down-arrow {
                margin-top: 8px;
                height: 16px;
                width: 32px;
                background-image: url("../images/white-down-arrow.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }

            &:hover {
                opacity: 0.89;
            }
        }
    }

    @media (max-width: 992px) { // lg
        .fronta-center {
            flex-direction: column;

            .title {
                margin-right: 0;
                margin-bottom: 12px;
                font-size: 55px;
            }

            .fronta-buttons {
                flex-direction: row;
                justify-content: start;

                .btn {
                    margin: 15px 15px 0 0;
                }
            }
        }
    }

    @media (max-width: 576px) { // sm
        .fronta-center {
            flex-direction: column;

            .title {
                margin-right: 0;
                margin-bottom: 12px;
                font-size: 45px;
            }

            .fronta-buttons {
                flex-direction: column;
                justify-content: center;

                .btn {
                    width: 100%;
                    margin: 15px 15px 0 0;
                }
            }
        }
    }

}

.body-gradient {
    background-image: url("../images/bg-gradient.svg");
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}

.landing-content {
    padding-top: 144px;
    padding-bottom: 144px;

    .landing-box {
        display: flex;
        flex-direction: column;
        padding: 34px;

        border-width: 1px;
        border-style: solid;
        border-radius: 8px;

        &.green {
            border-color: $turquoise;

            .headline {
                color: $turquoise;
            }
        }

        &.blue {
            border-color: $light-blue;

            .headline {
                color: $light-blue;
            }
        }

        &.yellow {
            border-color: #FFC84E;

            .headline {
                color: #FFC84E;
            }
        }

        &.top-pad {
            margin-top: 440px;
        }

        .headline {
            font-size: 34px;
        }

        .text {
            font-size: 30px;
            margin-bottom: 258px;
        }

        .links {
            a {
                display: block;
                font-size: 18px;
                color: $white;
                text-decoration: underline;

                &:hover {
                    color: #4dbeff;
                }
            }
        }
    }
}


footer {
    background-color: $dark-blue;
    color: $white;
    padding-top: 45px;
    padding-bottom: 45px;

    a {
        display: block;
        margin-bottom: 18px;
        padding-top: 2px;
        padding-bottom: 4px;
        color: $white;
        text-decoration: none;
        opacity: 0.55;
    }

    a:hover {
        color: $white;
        opacity: 0.69;
        text-decoration: none;
    }

    .social-icon {
        width: 32px;
        height: 32px;
        margin-right: 10px;
        margin-bottom: 8px;
        margin-left: 10px;
        background-image: url('../images/transparent.png');
        background-position: center center;
        background-size: 32px;
        background-repeat: no-repeat;

        &.youtube {
            background-image: url('../images/iconYoutube.svg');
        }

        &.discord {
            background-image: url('../images/iconDiscord.svg');
        }

        &.telegram {
            background-image: url('../images/iconTelegram.svg');
        }

        &.matrix {
            background-image: url('../images/iconMatrix.svg');
        }

        &.github {
            background-image: url('../images/iconGithub.svg');
        }

        &.twitter {
            background-image: url('../images/iconTwitter.svg');
        }

        &.reddit {
            background-image: url('../images/iconReddit.svg');
        }

        &.medium {
            background-image: url('../images/iconMedium.svg');
        }
    }

}

.subpage-fronta {
    min-height: 600px;
    background: linear-gradient(200deg, #0f2666 0%, #091440 62%, #091440 100%);
    background-image: url('../images/landing-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.subpage-bg {
    
    padding-bottom: 123px;
}

.subpage-title {
    color: $white;
    font-family: "dcrweb-poppins";
    font-size: 34px;
    padding-top: 89px;
    padding-bottom: 42px;
}

.warning {
    margin-top: 41px;
    border: 1px solid $orange;
    border-radius: 8px;
    font-size: 13px;
    padding: 21px;

    p {
        margin: 0;
    }

    .orange {
        color: $orange;
    }
}

.pills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    a {
        text-decoration: none;
        color: white;

        .pill {
            padding: 15px 24px;
            margin-right: 20px;
            margin-bottom: 20px;
            border-radius: 10000px;
            white-space: nowrap;
            transition: border 0.08s ease-in-out;

            border: 2px solid rgba($white, 0.21);

            &:hover {
                border: 2px solid rgba($white, 0.55);
            }

            &.highlight {
                border: 2px solid rgba($light-blue, 0.7);

                &:hover {
                    border: 2px solid rgba($light-blue, 1.0);
                }
            }

        }
    }
}

@import "wallets";
