// TODO COLOURS

$footer-color: gray;
$footer-bg: #0f123f;
$footer-a: #777;
$footer-a-hover: #aaa;
$white: #FFFFFF;

// Colours from spec:

$wallet-btn-color: $white;
$wallet-btn-bg: rgb(41, 112, 255);

$exchange-btn-color: #091440;
$exchange-btn-bg: rgb(45, 216, 163);

.navbar {

    .dcr-logo {
        display: block;
        height: 40px;
        width: 40px;
        background-image: url('../images/iconDecredWhite.svg');
        background-size: 40px;
        background-repeat: no-repeat;
    }

}






.landing-fronta {
    height: 100vh;

    background: linear-gradient(200deg, #0f2666 0%, #091440 62%, #091440 100%);
    background-image: url('../images/landing-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    justify-content: flex-start;
    align-items: stretch;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .title {
        display: flex;
        flex-direction: column;
        margin-right: 45px;

        font-family: "dcrweb-poppins";
        font-size: 65px;
        font-weight: bold;
        color: white;

        .dcr {
            text-transform: uppercase;
        }

        .hyphen {
            font-weight: 100;
        }
    }

    .btn {
        padding: 10px 21px;
        margin: 10px;
        border-radius: 100px;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        transition: background-color 0.13s ease-in-out;

        &.exchange-btn {
            color: $exchange-btn-color;
            background-color: $exchange-btn-bg;
    
            &:hover {
                background-color: rgba($exchange-btn-bg, 0.89);
            }
        }

        &.wallet-btn {
            color: $wallet-btn-color;
            background-color: $wallet-btn-bg;
    
            &:hover {
                background-color: rgba($wallet-btn-bg, 0.89);
            }
    
            &#alldl {
                display: block;
            }
        
            &.os-specific {
                display: none;
            }
        }
    }

    .fronta-bottom {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-bottom: 26px;

        .socials {
            display: flex;
            flex-direction: row;
            
            
            .social {
                margin: 8px;
                height: 40px;
                width: 40px;
                background-size: 40px 40px;
                background-repeat: no-repeat;
                opacity: 0.33;
                transition: opacity 0.13s ease-in-out;
                
                &:hover {
                    opacity: 0.55;
                }
            }
        }

        .see-more a  {
            color: #fff;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            opacity: 0.60;
            transition: opacity 0.08s ease-in-out;
            
            .down-arrow {
                margin-top: 8px;
                height: 16px;
                width: 32px;
                background-image: url("../images/white-down-arrow.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }

            &:hover {
                opacity: 0.89;
            }
        }
    }

    @media screen and (min-width: 321px) {
        .title {
        }
    }

    @media screen and (min-width: 480px) {
        .title {
        }
    }

    @media screen and (min-width: 769px) {
        .title {
        }
    }
}

.landing-content {
    padding-bottom: 60px;
    background: rgb(15, 18, 63);
    background: linear-gradient(180deg, rgba(15, 18, 63, 1) 0%, rgba(24, 32, 93, 1) 100%);

    .wrapper {
        margin-bottom: 20px;
        padding: 20px 20px;
        width: 100%;
        height: 363px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .headline {
        font-size: 24px;
        line-height: 31px;
    }

    .text {
        width: 100%;
        font-size: 13px;
        line-height: 19px;
    }

    .links a {
        display: block;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        text-decoration: none;

        &:hover {
            color: #4dbeff;
        }
    }

    @media screen and (min-width: 321px) {
        .wrapper {
            padding: 30px 20px;
            height: 363px;
        }

        .text {
            font-size: 16px;
            line-height: 22px;
        }

        .links a {
            font-size: 16px;
            line-height: 23px;
        }
    }

    @media screen and (min-width: 480px) {
        .wrapper {
            padding: 50px 40px;
            height: 450px;
        }

        .headline {
            font-size: 28px;
            line-height: 36px;
        }

        .text {
            width: 75%
        }


        .links a {
            font-size: 18px;
        }
    }

    @media screen and (min-width: 769px) {
        .wrapper {
            height: 450px;
        }

        .headline {
            font-size: 34px;
            line-height: 42px;
        }

        .text {
            width: 50%
        }


        .links a {
            font-size: 18px;
        }
    }

}


footer {
    background-color: $footer-bg;
    color: $footer-color;
    padding-top: 45px;
    padding-bottom: 45px;

    a {
        display: block;
        margin-bottom: 18px;
        padding-top: 2px;
        padding-bottom: 4px;
        color: $footer-a;
        text-decoration: none;
    }

    a:hover {
        color: $footer-a-hover;
        text-decoration: none;
    }
}