$light-blue: rgb( 41, 112, 255); // #2970FF
$turquoise:  rgb( 45, 216, 163); // #2DD8A3
$white:      rgb(255, 255, 255); // #FFFFFF
$dark-blue:  rgb(  9,  20,  64); // #091440
$orange:     rgb(237, 109,  71); // #ED6D47

@import "bootstrap-5.0.2/bootstrap";

@import "_common";
@import "_landing";
@import "_wallets";
