.landing-fronta {
    height: 100vh;

    background: rgb(15,18,63);
    background: linear-gradient(90deg, rgba(15,18,63,1) 0%, rgba(24,32,93,1) 100%);

    justify-content: flex-start;
    align-items: stretch;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .dcr-logo {
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
        background-image: url('../images/iconDecredLightBlue.svg');
        background-position: 5px 2px;
        background-size: 40px;
        background-repeat: no-repeat;
    }

    .title {
        display: flex;
        flex-direction: column;
        
        margin-top: 50px;
        margin-bottom: 19px;
        font-size: 28px;
        line-height: 34px;
        color: white;
        .dcr {
            text-transform: uppercase;
        }
    }

    @media screen and (min-width: 321px) {
        .title {
            font-size: 38px;
            line-height: 42px;
            width: 100%;
        }
    }

    @media screen and (min-width: 480px) {
        .title {
            font-size: 48px;
            line-height: 56px;
        }
    }

    @media screen and (min-width: 769px) {
        .title {
            font-size: 54px;
            line-height: 64px;
        }
    }
}

.landing-content {
    padding-bottom: 60px;
    background: rgb(15,18,63);
    background: linear-gradient(180deg, rgba(15,18,63,1) 0%, rgba(24,32,93,1) 100%);

    .wrapper {
        margin-bottom: 20px;
        padding: 20px 20px;
        width: 100%;
        height: 363px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        box-shadow: none;
        transition: 0.34s;
    }

    .headline {
        font-size: 24px;
        line-height: 31px;
    }

    .text {
        width: 100%;
        font-size: 13px;
        line-height: 19px;
    }

    .links a {
        display: block;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        text-decoration: none;

        &:hover {
            color: #4dbeff;
        }
    }

    @media screen and (min-width: 321px) {
        .wrapper {
            padding: 30px 20px;
            height: 363px;
        }

        .text {
            font-size: 16px;
            line-height: 22px;
        }

        .links a {
            font-size: 16px;
            line-height: 23px;
        }
    }

    @media screen and (min-width: 480px) {
        .wrapper {
            padding: 50px 40px;
            height: 450px;
        }

        .headline {
            font-size: 28px;
            line-height: 36px;
        }

        .text {
            width: 75%
        }


        .links a {
            font-size: 18px;
        }
    }

    @media screen and (min-width: 769px) {
        .wrapper {
            height: 450px;
        }

        .headline {
            font-size: 34px;
            line-height: 42px;
        }

        .text {
            width: 50%
        }


        .links a {
            font-size: 18px;
        }
    }

}