{{ define "page-title" }}
   Decred -  {{ T "nav_adaptability" }}
{{ end }}

{{ define "header" }}
   {{ T "nav_adaptability" }}
{{ end }}

{{ define "main" }}

    <div class="full-width">
        <div class="_960">
            <div class="print-version">
                <div class="print-pdf">
                    <a class="button news_banner__button play-modal" href="#"
                       target="_blank">
                        <span>Play</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{{ end  }}