{{ define "content-top" }}{{ end }}

{{ define "fronta" }}
<div class="landing-fronta">
    <div class="container h-100">

        <div class="d-flex flex-column justify-content-between h-100">

            <div></div>
    
            <div class="fronta-center">
                <div class="title">
                    <span class="dcr">Decred&nbsp;<span class="light-hyphen">—</span></span>
                    <span>{{ T "landing_opener" }}</span>
                </div>
                
                <div class="fronta-buttons"> 
                    <a id="alldl" class="btn wallet-btn" href="{{ "/wallets/" | relLangURL }}">{{ T "home_download_wallet" }}</a>
                    {{ $download_links := where (index .Site.Data.wallets.links "decrediton") "is_direct_download" true }}
                    {{ range $download_links }}
                        <a id="{{ .platform }}" class="btn wallet-btn os-specific" href="{{ .url }}">{{ T "home_download_wallet" }}</a>
                    {{ end }}
                    <a class="btn exchange-btn" href="{{ "/exchanges/" | relLangURL }}">{{ T "nav_exchanges" }}</a>
                </div>
            </div>
    
            <div class="fronta-bottom">
                
                <div class="socials col-md-4 d-none d-md-flex">
                    <a class="social matrix"   href="{{ $.Site.Data.community.channels.matrix.url   }}"></a>
                    <a class="social discord"  href="{{ $.Site.Data.community.channels.discord.url  }}"></a>
                    <a class="social telegram" href="{{ $.Site.Data.community.channels.telegram.url }}"></a>
                </div>
                
                <div class="see-more col-12 col-md-4">
                    <a href="#">
                        <div>
                            See More
                        </div>
                        <div class="down-arrow">
                        </div>
                    </a>
                </div>
                <div class="col-4 d-none d-md-flex"></div>
            </div>

        </div>
        
    </div>
    
        
</div>
    

{{ end }}

{{ define "main" }}

  <div class="landing-content">
    <div class="container">
        <div class="row gx-3 gy-5">

            
            <div class="col-6">
                <div class="landing-box green">
                    <div>
                        <p class="headline">{{ T "landing_sovereignty_headline" }}&nbsp;<span class="light-hyphen">—</span></p>
                        <p class="text">{{ T "landing_sovereignty_text"}}</p>
                    </div>
                    <div class="links">
                        <a href="https://bounty.decred.org/" target="_blank" rel="noopener noreferrer">{{ T "landing_01_link2" }} →</a>
                        <a href="https://github.com/decred/" target="_blank" rel="noopener noreferrer">{{ T "landing_01_link3" }} →</a>
                    </div>
                </div>
            </div>
            
            <div class="col-6">
                <div class="landing-box blue top-pad">
                    <div>
                        <p class="headline">{{ T "landing_privacy_headline" }}&nbsp;<span class="light-hyphen">—</span></p>
                        <p class="text">{{ T "landing_privacy_text"}} </p>
                    </div>
                    <div class="links">
                        <a href="https://proposals.decred.org" target="_blank" rel="noopener noreferrer">{{ T "nav_politeia"}} →</a>
                        <a href="https://voting.decred.org" target="_blank" rel="noopener noreferrer">{{ T "landing_02_link2"}} →</a>
                    </div>
                </div>
            </div>
            
            <div class="col-12">
                <div class="landing-box yellow">
                    <div>
                        <p class="headline">{{ T "landing_treasury_headline" }}&nbsp;<span class="light-hyphen">—</span></p>
                        <p class="text">{{ T "landing_treasury_text"}}</p>
                    </div>
                    <div class="links">
                        <a href="https://docs.decred.org/contributing/overview/" target="_blank" rel="noopener noreferrer">{{ T "landing_03_link2"}} →</a>
                    </div>
                </div>
            </div>
            
            <div class="col-6">
                <div class="landing-box green">
                    <div>
                        <p class="headline">{{ T "landing_resolve_headline" }}&nbsp;<span class="light-hyphen">—</span></p>
                        <p class="text">{{ T "landing_resolve_text"}}</p>
                    </div>
                    <div class="links">
                        <a href="https://bounty.decred.org/" target="_blank" rel="noopener noreferrer">{{ T "landing_01_link2" }} →</a>
                        <a href="https://github.com/decred/" target="_blank" rel="noopener noreferrer">{{ T "landing_01_link3" }} →</a>
                    </div>
                </div>
            </div>
            
            <div class="col-6">
                <div class="landing-box blue top-pad">
                    <div>
                        <p class="headline">{{ T "landing_freedom_headline" }}&nbsp;<span class="light-hyphen">—</span></p>
                        <p class="text">{{ T "landing_freedom_text"}}</p>
                    </div>
                    <div class="links">
                        <a href="https://bounty.decred.org/" target="_blank" rel="noopener noreferrer">{{ T "landing_01_link2" }} →</a>
                        <a href="https://github.com/decred/" target="_blank" rel="noopener noreferrer">{{ T "landing_01_link3" }} →</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


{{ end }}

